* {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #202124;
    padding: 60px;
}

h2 {

    text-align: center;
}

h3 {
    font-size: 2rem;
}

form {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

input {
    color: grey;
    font-size: 1.2rem;
    margin: 0 auto;
    width: 20%;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    align-content: center;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.card p {
    padding: 5px;
    text-align: center;
}

.card img {
    max-height: 170px;
}